<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <% if (user_id) {%>
      <div class="navbar-nav">
        <form class="form-inline my-2 my-lg-0" action="/logout" method="POST">
          <span class="navbar-text" style="padding-right: 1em;">Welcome, <b><%= user_id.email %>!</b></span>
          <button class="btn btn-danger btn-sm" type="submit">LOGOUT</button>
        </form>
      </div>
    <% } else { %>
    <div class="navbar-nav">
      <form class="form-inline my-2 my-lg-0">
        <a class="btn btn-light btn-sm mr-sm-2" href="/login">LOGIN</a>
        <a class="btn btn-light btn-sm" href="/register">REGISTER</a>
      </form>
    </div>
    <% } %> 

  </nav>
</header>